extends layout

block content
  
  div.wrap
  form(action='/create', method='post')
     input.createTodo-input(type='text' placeholder='New todo' name='todo')
     button.createTodoBtn(type='submit') + 
     
  br
 
  div.list
    for todo in todos
      form.todo-list(action=`/update/${todo.id}` method='post')
        input.editTodo-input(type='text' name='todo' value=todo.todo)
        a(href='/delete/' + todo.id) Delete
        a(href='/iscomplete/' + todo.id) Complete
