body {
  text-align: center;
  background: #f5f5f5 ;
  color: #4d4d4d ;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

button {
  display: inline-block;
  margin: 10px;
  font-family: FontAwesome;
}

.wrap {
  width: 95%;
  margin: 20px auto;
}

h1 {
  margin-top: 10px;
}
.todo-list {
  margin: 10px 0;
}

.createTodo-input {
  margin: 10px;
}

.createTodoBtn {

}

header {
  margin: 0;
  background-color: #ff4500;
  width: 100%;
  top:0;
}

.list {
  padding-left: 20px;
}


textarea:focus, input:focus {
  outline: none;
}

*:focus {
    outline: none;
}
